@page

@model IndexModel

@{
    ViewData["Title"] = "Home page";
    @* Product selectProduct;
string selectProductId;
void SelectProduct(string productId){
selectProduct = productId;
selectProduct = ProductService.GetProducts().First(x=>x.Id == productId);
} *@

}

<div class="text-center">
    <h1 class="display-4">Welcome Quest</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* 
<div class="card-columns">

    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-title"> @product.Title</h5>
            </div>
        </div>
        <div class="card-footer">
        <small class="text-muted">
            <button onclick="e=>SelectProduct(product.Id))" data-toggle="model" data-target="#productModal" class="btn btn-primary" >More-Indfo</button>
        </small>
        </div>

    }
</div>
  *@

<div class="card-columns">

    @foreach (var product in Model.Users)
    {
        <div class="card">
            @* <div class="card-img" style="background-image: url('@product.Image');"></div> *@
            <div class="card-body">
                <h5 class="card-title"> @product.DisplayName</h5>
            </div>
        </div>
        <div class="card-footer">
        <small class="text-muted">
            @* <button onclick="e=>SelectProduct(product.Id))" data-toggle="model" data-target="#productModal" class="btn btn-primary" >More-Indfo</button> *@
        </small>
        </div>

    }
</div>